<div class="grid grid-nogutter">
  <div class="col-12 lg:col-6 flex justify-content-center py-3">
    <app-face
      class="w-6rem lg:w-12rem"
      [eyesColor]="face.eyesColor"
      [facialHairType]="face.facialHairType"
      [hairColor]="face.hairColor"
      [hairType]="face.hairType"
      [skinType]="face.skinType"
    />
  </div>
  <div class="col-12 lg:col-6 py-3">
    <h3>
      {{ firstName }} {{ lastName }}
      @if (isAce) {
        <i class="fa-solid fa-spade"></i>
      }
    </h3>

    <p>
      <span class="white-space-nowrap">
        <i class="fa-regular fa-clouds"></i> Воздушных целей уничтожено:
      </span>
      <span class="font-medium">{{ airTargetsDestroyed }}</span>
    </p>

    <p>
      <span class="white-space-nowrap">
        <i class="fa-regular fa-mountains"></i> Наземных целей уничтожено:
      </span>
      <span class="font-medium">{{ landTargetsDestroyed }}</span>
    </p>

    <p>
      <span class="white-space-nowrap">
        <i class="fa-regular fa-water"></i> Морских целей уничтожено:
      </span>
      <span class="font-medium">{{ seaTargetsDestroyed }}</span>
    </p>

    <p>
      <span class="white-space-nowrap">
        <i class="fa-regular fa-wallet"></i> Средства:
      </span>
      <span class="font-medium">${{ wallet }}</span>
    </p>
  </div>
</div>
