<div
  class="flex flex-row p-2 cursor-pointer border-2 border-round"
  [class.hover:surface-100]="!isActive"
  [class.hover:bg-green-100]="isActive && upgrade.tier === 1"
  [class.hover:bg-orange-100]="isActive && upgrade.tier === 2"
  [class.hover:bg-red-100]="isActive && upgrade.tier === 3"
  [class.border-transparent]="!isSelected"
  [class.border-500]="!isActive && isSelected"
  [class.border-green-500]="isActive && isSelected && upgrade.tier === 1"
  [class.border-orange-500]="isActive && isSelected && upgrade.tier === 2"
  [class.border-red-500]="isActive && isSelected && upgrade.tier === 3"
  (click)="onClick()"
>
  <div
    class="flex flex-shrink-0 w-3rem h-3rem border-2 border-round"
    [class.text-green-200]="!isActive && upgrade.tier === 1"
    [class.text-orange-200]="!isActive && upgrade.tier === 2"
    [class.text-red-200]="!isActive && upgrade.tier === 3"
    [class.text-green-500]="isActive && upgrade.tier === 1"
    [class.text-orange-500]="isActive && upgrade.tier === 2"
    [class.text-red-500]="isActive && upgrade.tier === 3"
  >
    <i class="text-4xl m-auto" [class]="upgrade.icon"></i>
  </div>
  <div
    class="flex flex-column justify-content-center ml-2"
    [class.text-500]="!isActive"
  >
    {{ upgrade.name }}
    @if (isStore) {
      @if (isSold) {
        <p-tag severity="success" value="Продано" />
      } @else {
        <div
          class="font-medium"
          [class.text-green-500]="isEnoughMoney"
          [class.text-red-200]="!isEnoughMoney"
        >
          <span
            [class.line-through]="upgrade.discountPercents"
            [class.text-500]="upgrade.discountPercents"
            >${{ upgrade.price }}</span
          >
          @if (upgrade.discountPercents) {
            <span class="ml-2"
              >${{ (upgrade.price * upgrade.discountPercents) / 100 }}</span
            >
            <p-tag
              class="ml-1"
              severity="danger"
              [value]="'-' + upgrade.discountPercents + '%'"
            />
          }
        </div>
      }
    }
  </div>
</div>
