<p-menubar [model]="menuItems" class="block">
  <ng-template pTemplate="item" let-item>
    @if (item.route) {
      <a [routerLink]="item.route" class="p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    } @else {
      @if (item.url) {
        <a [href]="item.url" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      } @else {
        <div class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
      }
    }
  </ng-template>

  <ng-template pTemplate="end">
    <div class="white-space-nowrap">
      <p-button
        [icon]="'fa-solid fa-power-off'"
        [rounded]="true"
        [text]="true"
        [severity]="'contrast'"
        (click)="confirmGameReset($event)"
      ></p-button>

      <p-button
        [icon]="isDarkTheme() ? 'fa-solid fa-moon' : 'fa-solid fa-sun-bright'"
        [rounded]="true"
        [text]="true"
        [severity]="isDarkTheme() ? 'info' : 'warning'"
        (click)="toggleTheme()"
      ></p-button>
    </div>
  </ng-template>
</p-menubar>

<p-confirmPopup />
