<div
  class="relative flex justify-content-center align-items-center w-full h-full"
>
  <img
    src="assets/images/map-ru.svg"
    class="w-full aspect-ratio-1"
    alt="Карта"
  />
  <div class="absolute flex w-full" style="aspect-ratio: 1">
    <div
      class="map-grid h-full w-full border-black-alpha-60"
      [class.border-05]="isGridEnabled"
    >
      @for (squareIndex of squaresIndexes; track squareIndex) {
        <div
          class="relative flex border-black-alpha-60"
          [class.border-05]="isGridEnabled"
          [class.hover:border-red-600]="
            isAvailableSquaresHighlighted &&
            availableSquaresIndexes.includes(squareIndex)
          "
          [class.cursor-pointer]="
            isAvailableSquaresHighlighted &&
            availableSquaresIndexes.includes(squareIndex)
          "
          [class.bg-white-alpha-50]="
            isAvailableSquaresHighlighted &&
            !availableSquaresIndexes.includes(squareIndex)
          "
        >
          @if (isGridEnabled) {
            <span
              class="absolute text-black-alpha-60"
              [class.text-xxs]="isSmall"
              [class.ml-1]="!isSmall"
            >
              {{ squareIndex }}
            </span>
          }

          @switch (squareIndex) {
            @case (mission?.boss?.squareIndex) {
              <i
                class="fa-solid fa-star absolute text-red-600 right-0"
                [class.mr-1]="!isSmall"
                [class.mt-1]="!isSmall"
                [class.text-xxs]="isSmall"
              ></i>
              <i
                class="m-auto text-red-600"
                [class]="mission?.boss?.icon"
                [class.text-2xl]="!isSmall"
                [class.text-sm]="isSmall"
              ></i>
            }
            @case (mission?.player?.squareIndex) {
              <i
                class="m-auto text-green-600 rotate-90"
                [class]="mission?.player?.icon"
                [class.text-2xl]="!isSmall"
                [class.text-sm]="isSmall"
              ></i>
            }
            @case (mission?.primaryTarget?.squareIndex) {
              <i
                class="m-auto text-red-600"
                [class]="mission?.primaryTarget?.icon"
                [class.text-2xl]="!isSmall"
                [class.text-sm]="isSmall"
              ></i>
            }
            @case (mission?.secondaryTarget?.squareIndex) {
              <i
                class="m-auto text-orange-600"
                [class]="mission?.secondaryTarget?.icon"
                [class.text-2xl]="!isSmall"
                [class.text-sm]="isSmall"
              ></i>
            }
          }
        </div>
      }
    </div>
  </div>
</div>
