@if (isGameOver()) {
  <app-game-over />
}
@else {
  @switch (gameStep()) {
    @case ("reward") {
      <app-reward (upgradeSelect)="onUpgradeSelect($event)" />
    }
    @case ("store") {
      <app-store
        (shoppingComplete)="onShoppingComplete()"
        (upgradeBuy)="onUpgradeBuy()"
      />
    }
    @case ("mission") {
      <app-mission (missionConfirm)="onMissionConfirm()" />
    }
    @case ("armament") {
      <app-armament (armamentSelect)="onArmamentSelect()" />
    }
    @case ("mission-result") {
      <app-mission-result (missionComplete)="onMissionComplete()" />
    }
    @default {
      <app-game-start (gameStart)="onGameStart()" />
    }
  }
}
