<p>
  Отношения между Ливией и США накалялись с начала 1980-х годов. Президента США
  Рональда Рейгана тревожило и укрепление связей Ливии с Советским Союзом, и
  претензии Ливии на главенство среди североафриканских стран.
</p>

<p>
  Кроме того, Администрация президента США обвиняла Ливию и ее лидера Муаммара
  Каддафи в поддержке международного терроризма.
</p>

<p>
  В марте 1986 года американо-ливийское противостояние достигло пика. 2 апреля
  1986 года на борту американского авиалайнера компании Trans World Airlines
  (рейс Рим — Афины) произошел взрыв, погибли четыре гражданина США. 5 апреля на
  дискотеке La-belle в западном Берлине, посещаемой американскими
  военнослужащими, взорвалась бомба. Погибло два американских солдата, турчанка,
  еще 229 человек, включая 79 граждан США, были ранены. Соединенные Штаты
  Америки заявили, что обе акции были организованы ливийской разведкой. После
  теракта в Берлине Президент США потребовал от Пентагона как можно скорее
  провести «акцию возмездия».
</p>

<p>
  Американцами были отобраны пять объектов в окрестностях Городов Триполи и
  Бенгази, которые, по сообщениям американской разведки, использовались для
  подготовки террористов и транспортировки оружия экстремистским организациям.
  Этими объектами являлись военные казармы, база подготовки боевых пловцов и
  военный аэродром в Триполи, а также казармы и аэродром в Бенгази. Всего в
  операции участвовало свыше 100 самолётов, из них основную задачу по
  уничтожению намеченных целей выполняли 27. В ходе операции на Ливию было
  сброшено до 150 тонн авиабомб.
</p>

<p>Операция была назначена на ночь с 14 на 15 апреля 1986 года.</p>
