<h3>Миссия {{ mission?.number }}</h3>

<div class="grid mb-3">
  <div class="col-12 lg:col-8 relative">
    <div>
      <app-map [mission]="mission" [isGridEnabled]="isMapGridEnabled" />
    </div>
    <div class="flex align-items-center py-3">
      <p-inputSwitch [(ngModel)]="isMapGridEnabled" />
      <span class="ml-2">Сетка</span>
    </div>
  </div>
  <div class="col-12 lg:col-4">
    Описание миссии

    @if (mission?.boss) {
      <p>
        <span class="white-space-nowrap">
          <i class="fa-regular fa-star"></i> Босс:
        </span>
        <span class="font-medium text-red-600">{{ mission?.boss?.label }}</span>
      </p>
    }

    @if (mission?.primaryTarget) {
      <p>
        <span class="white-space-nowrap">
          <i class="fa-regular fa-crosshairs-simple"></i> Основная цель:
        </span>
        <span class="font-medium white-space-nowrap text-red-600">
          <i [class]="mission?.primaryTarget?.icon"></i>
          {{ mission?.primaryTarget?.label }}
          {{
            mission?.primaryTarget?.count
              ? "(" + mission?.primaryTarget?.count + ")"
              : ""
          }}
        </span>
      </p>
    }

    @if (mission?.secondaryTarget) {
      <p>
        <span class="white-space-nowrap">
          <i class="fa-regular fa-circle-dot"></i> Дополнительная цель:
        </span>
        <span class="font-medium white-space-nowrap text-orange-600">
          <i [class]="mission?.secondaryTarget?.icon"></i>
          {{ mission?.secondaryTarget?.label }}
          {{
            mission?.secondaryTarget?.count
              ? "(" + mission?.secondaryTarget?.count + ")"
              : ""
          }}
        </span>
      </p>
    }

    <div class="flex w-full justify-content-end">
      <p-button label="Далее" (click)="onMissionConfirm()" />
    </div>
  </div>
</div>
