<div class="h-screen flex flex-column p-2 gap-2 surface-b">
  <app-header class="surface-a border-radius" />

  <!--  <app-breadcrumb />-->

  @if (isGameStarted() && !isGameOver()) {
    <app-missions-info />
  }

  <div
    class="h-full overflow-auto px-3 border-1 border-radius surface-a"
    [class.border-100]="isDarkTheme()"
    [class.border-300]="!isDarkTheme()"
  >
    <router-outlet />

    <p-scrollTop target="parent" [threshold]="100" icon="pi pi-arrow-up" />
  </div>
</div>

<p-toast />
