.f-19-background {
  background-image: url("/assets/images/f-19-1280.jpg");
  background-size: cover;
}

.mig-37-background {
  background-image: url("/assets/images/mig-37.jpg");
  background-size: cover;
}
