<div class="flex flex-column md:flex-row w-full gap-3">
  <div class="w-15rem h-15rem flex-shrink-0">
    <app-map
      [isGridEnabled]="false"
      [isSmall]="true"
      [mission]="mission"
    ></app-map>
  </div>

  <div>
    @if (mission?.boss) {
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-solid fa-star"></i> Босс:
        </span>
        <span class="font-medium text-red-600">
          <i [class]="mission?.boss?.icon"></i>
          {{ mission?.boss?.label }}
        </span>
        <span class="ml-1">
          @if (mission?.boss?.isDestroyed) {
            <i class="fa-solid fa-check text-green-600"></i>
          } @else {
            <i class="fa-solid fa-xmark text-red-600"></i>
          }
        </span>
      </div>
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-wallet"></i> Награда за босса:
        </span>
        <span class="font-medium">${{ mission?.boss?.cost }}</span>
      </div>
    }

    @if (mission?.primaryTarget) {
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-crosshairs-simple"></i> Основная цель:
        </span>
        <span class="font-medium white-space-nowrap text-red-600">
          <i [class]="mission?.primaryTarget?.icon"></i>
          {{ mission?.primaryTarget?.label }}
          {{
            mission?.primaryTarget?.count
              ? "(" + mission?.primaryTarget?.count + ")"
              : ""
          }}
        </span>
        <span class="ml-1">
          @if (mission?.primaryTarget?.isDestroyed) {
            <i class="fa-solid fa-check text-green-600"></i>
          } @else {
            <i class="fa-solid fa-xmark text-red-600"></i>
          }
        </span>
      </div>
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-wallet"></i> Награда за основную цель:
        </span>
        <span class="font-medium">${{ mission?.primaryTarget?.cost }}</span>
      </div>
    }

    @if (mission?.secondaryTarget) {
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-circle-dot"></i> Дополнительная цель:
        </span>
        <span class="font-medium white-space-nowrap text-orange-600">
          <i [class]="mission?.secondaryTarget?.icon"></i>
          {{ mission?.secondaryTarget?.label }}
          {{
            mission?.secondaryTarget?.count
              ? "(" + mission?.secondaryTarget?.count + ")"
              : ""
          }}
        </span>
        <span class="ml-1">
          @if (mission?.secondaryTarget?.isDestroyed) {
            <i class="fa-solid fa-check text-green-600"></i>
          } @else {
            <i class="fa-solid fa-xmark text-red-600"></i>
          }
        </span>
      </div>
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-wallet"></i> Награда за дополнительную цель:
        </span>
        <span class="font-medium">${{ mission?.secondaryTarget?.cost }}</span>
      </div>
    }

    @if (mission?.airTargetsDestroyed) {
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-clouds"></i> Воздушных целей уничтожено:
        </span>
        <span class="font-medium">{{ mission?.airTargetsDestroyed }}</span>
      </div>
    }

    @if (mission?.landTargetsDestroyed) {
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-mountains"></i> Наземных целей уничтожено:
        </span>
        <span class="font-medium">{{ mission?.landTargetsDestroyed }}</span>
      </div>
    }

    @if (mission?.seaTargetsDestroyed) {
      <div class="mb-3">
        <span class="white-space-nowrap">
          <i class="fa-regular fa-water"></i> Морских целей уничтожено:
        </span>
        <span class="font-medium">{{ mission?.seaTargetsDestroyed }}</span>
      </div>
    }

    <div>
      <span class="white-space-nowrap">
        <i class="fa-regular fa-clipboard-list"></i> Статус:
      </span>
      <span
        class="font-medium"
        [class.text-green-600]="mission?.isCompleted"
        [class.text-red-600]="!mission?.isCompleted"
        >{{ mission?.isCompleted ? "Завершена" : "Провалена" }}</span
      >
    </div>
  </div>
</div>
